<div class="container-fluid">

  <div class="row mt-3">
    <div class="col-12">
      <button mat-mini-fab color="default" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <mat-form-field class="w-100">
        <mat-label>Task Title</mat-label>
        <input matInput [formControl]="titleControl">
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Task Description</mat-label>
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" [formControl]="descControl"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button mat-raised-button color="primary" class="mx-1" (click)="save()">SAVE</button>
    </div>
  </div>
</div>